@import "../global/variables";

.beerCard {
  & > *:not(:last-child) {
    margin-bottom: 1.5em;
  }

  .beerHeader {
    width: 100%;

    img {
      min-width: 8em;
      width: 25%;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.25em;
    }

    p {
      margin-bottom: 0.5em;
    }

    .brewer {
      font-size: 1.125rem;
      font-weight: 500;
    }
  }

  .beerStats {
    padding: 1em;
    background-color: darken($bone, 5%);
    border-radius: 3px;

    .stat {
      &:not(:last-child) {
        border-right: 1px solid #fff;
        padding-right: 1.5em;
        margin-right: 1.5em;
      }

      &Name {
        color: darken($shadow, 15%);
        margin-bottom: 0.5em;
      }

      &Value {
        font-weight: 600;
        font-size: 1.125rem;
      }
    }
  }

  .beerInfo {
    article:not(:last-child) {
      margin-bottom: 1em;
    }

    &Icon {
      font-size: 1.5rem;
      margin-right: 0.5em;
    }
  }

  .notes,
  .beerStats,
  .beerInfo {
    @media (min-width: $mdscreen) {
      margin-left: auto;
      width: 75%;
    }
  }

  .btnGroup {
    justify-content: center;

    @media (min-width: $smscreen) {
      justify-content: flex-end;
    }

    button {
      flex-grow: 1;

      @media (min-width: $smscreen) {
        flex-grow: 0;
      }
    }

    & > *:not(:last-child) {
      margin-right: 1em;
    }
  }
}
