@import "../global/variables";

.login,
.demo {
  width: 100%;
  margin: auto;

  @media (min-width: $smscreen) {
    width: 20em;
  }

  h2 {
    text-align: center;
    margin: 0;
  }
}

.login {
  margin-bottom: 2em;

  @media (min-width: $smscreen) {
    padding: 1em;
    border-radius: 3px;
    border: 2px solid $bone;
  }

  & > *:not(:first-child) {
    margin-top: 1em;
  }

  .error {
    margin-bottom: 0;
  }
}

.demo {
  padding: 1em;
  background-color: $bone;
  border-radius: 3px;

  p {
    margin: 0.5em 0;
  }
}