@import "variables";

.container {
  width: 90%;
  margin: auto;

  @media (min-width: $smscreen) {
    width: 80%;
  }

  @media (min-width: $mdscreen) {
    width: 75%;
    max-width: $lgscreen;
  }
}

// flexbox
.df {
  display: flex;

  &-fc {
    flex-direction: column;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-fe {
    justify-content: flex-end;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-fe {
    align-items: flex-end;
  }
}

.hidden {
  display: none;
}

.btn {
  min-width: 4em;
  padding: 0.5em 1em;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;

  &-primary {
    background-color: $redviolet;
    border-color: darken($redviolet, 3%);
    color: #fff;

    &:hover {
      background: linear-gradient($redviolet, lighten($redviolet, 3%));

      &:active,
      &:focus {
        border-color: darken($redviolet, 5%);
      }
    }

    &:disabled {
      background: rgba($redviolet, 80%);
      border-color: rgba($redviolet, 80%);
    }
  }

  &-secondary {
    background-color: inherit;
    border-color: lighten($shadow, 20%);

    &:hover {
      background: linear-gradient(lighten($bone, 5%), lighten($bone, 3%));

      &:active,
      &:focus {
        border-color: $shadow;
      }
    }

    &:disabled {
      color: rgba($darkumber, 80%);
    }
  }

  &-icon {
    background: none;
    border: none;
    padding: 0 0.5em;
  }
}
