// colours
$bone: #e9e6e2;
$shadow: #8c7a6b;
$umber: #736559;
$darkumber: #2e2824;
$rosewood: #5e0b15;
$redviolet: #90323d;
$earthyellow: #d3a15f;
$main-background: lighten($bone, 5%);

// media breakpoints
// TODO: convert these to ems?
$smscreen: 480px;
$mdscreen: 768px;
$lgscreen: 1024px;
