@import "variables";
@import "utilities";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
}

button {
  font-family: "Lora", serif;
}

body {
  background-color: lighten($bone, 5%);
  color: $darkumber;
}

h2 {
  color: $redviolet;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
textarea {
  padding: 0.5em 1em;
  font-family: "Lora", serif;
  font-size: 0.875rem;
  border: none;
  border-radius: 3px;
}

textarea {
  resize: none;
}

// Material-UI overrides
.MuiRating-root {
  transform: translateX(-3px);
}

.MuiRating-icon {
  color: darken($bone, 15%);
}

.MuiRating-iconFilled {
  color: #d3a15f;
}

.MuiRating-label {
  margin-bottom: 0;
}
