@import "../global/variables";

.beerOverview {
  padding: 1em 0;


  &:not(:last-child) {
    border-bottom: 1px solid darken($bone, 10%);
  }

  a {
    width: 100%;
    color: $darkumber;
  }

  .beerInfo {
    @media (min-width: $mdscreen) {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;

      >*:not(:first-child) {
        padding-left: 1em;
      }
    }

    @media (min-width: $lgscreen) {
      grid-template-columns: 3fr 2fr 2fr 1fr;
    }

    h3 {
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 0.25em;


      @media (min-width: $mdscreen) {
        font-size: 1.125em;
        margin-bottom: 0;
      }
    }

    p {
      font-size: 0.825em;
      margin-top: 0;
      margin-bottom: 0.5em;
      font-weight: 400;

      @media (min-width: $mdscreen) {
        font-size: 1em;
        margin-bottom: 0;
      }
    }

    .dateAdded {
      display: none;

      @media (min-width: $lgscreen) {
        display: block;
      }
    }

    .rating {
      @media (min-width: $mdscreen) {
        justify-self: end;
      }
    }
  
  }

  .beerImage {
    height: 3em;
    padding-left: 2em;
  }
}
