@import "../global/variables";

.input {
  p {
    margin-top: 0em;
    margin-bottom: 0.5em;
    color: darken($shadow, 20%);
  }

  input {
    height: 2.5em;
  }

  input,
  textarea {
    width: 100%;
    border: 1px solid darken($bone, 8%);
  }
}

.inputInfo {
  color: darken($shadow, 10%);
  font-size: 0.75em;
  font-style: italic;
}

.formError {
  p {
    color: $redviolet;
  }

  & > input[type="text"] {
    border-color: $redviolet;
  }

  &Label {
    margin-top: 0.25em;
    font-size: 0.75rem;
  }
}
