@import "../global/variables";

.navBar {
  margin-bottom: 1em;

  @media (min-width: $smscreen) {
    margin-bottom: 0em;
  }

  a,
  button {
    color: $darkumber;
    font-weight: 500;
  }

  > *:not(:last-child) {
    margin-right: 1em;
  }
}

.current {
  text-decoration: underline;
}
