@import "../global/variables";

.userOverview {
  background-color: #fff;
  padding: 0.5em 1em;
  border-radius: 3px;

  a {
    color: $darkumber;
  }

  img {
    width: 5em;
  }

  .userInfo {
    margin-left: 1em;

    h3 {
      margin-top: 0;
      margin-bottom: 0.5em;
      font-size: 1rem;
    }

    p {
      font-size: 0.75rem;
    }
  }
}
