// colours
$bone: #E9E6E2;
$shadow: #8C7A6B;
$umber: #736559;
$darkumber: #2e2824;
$rosewood: #5E0B15;
$redviolet: #90323D;
$earthyellow: #D3A15F;

// media breakpoints
// TODO: convert these to ems?
$smscreen: 480px;
$mdscreen: 768px;
$lgscreen: 1024px;
